<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product-Level Ad</title>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <style>
        body {
            background: <%= it.background %>;
            text-align: center;
            font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #222; 
        }

        a:link {
            text-decoration: inherit;
            color: inherit;
            cursor: auto;
        }

        a:visited {
            text-decoration: inherit;
            color: inherit;
            cursor: auto;
        }

        iframe {
            height: 140px;
            display: inline-block;
            padding: 0;
            margin: 5px;
            border-radius: 5px;
            border-width: 0;
            overflow: hidden;
            background-color: rgba(128,128, 128, 0.1); 
        }

        .wrapper {
            width: 280px;
            display: inline-block;
            font-size: 0;
        }
    </style>
</head>
<body>
<script>
    window.onmessage = function (messageEvent) {
        let data = messageEvent.data
        let wrapper = document.getElementById('wrapper')
        for(const product of data.products || []) {
            const iframe = document.createElement('iframe')
            iframe.srcdoc = product || '<p>Not found</p>'
            iframe.style.width = (280/data.products.length - 10) + 'px'
            iframe.scrolling = 'no'
            wrapper.appendChild(iframe)
        }
    }
</script>
    <div>
        <h3>Ad for <%= it.adTarget %></h3>
        <div class='wrapper' id='wrapper'>
        </div>
    </div>
</body>
</html>
